
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

<style>
.popover-card {
	margin: 25px auto;
	text-align: center;
	background-color: #fff;
	width: 325px;
}
.button-row {
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.mdl-cell--att { width: calc(20% - 16px); }
.att-button { padding: 0; }
mat-button-toggle {	padding: 0 5px; }
mat-spinner { margin: 0 auto; }
</style>

<div class="container">

<!-- temporary: make all three screens visible at once -->
<mat-grid-list cols="3">

<!-- sort section -->
<mat-grid-tile>
	<mat-card class="popover-card">
		<form>
			<mat-form-field style="width: 100%;">
				<input matInput #search type="search" placeholder="Enter monster name"
					(input)="updateView()" 
					[formControl]="searchControl" 
					[errorStateMatcher]="searchMatcher"
					[(ngModel)]="searchValue">
				<mat-error *ngIf="searchControl.hasError('pattern')">
					Please use valid characters.
				</mat-error>
				<mat-error *ngIf="searchControl.hasError('minlength')">
					Please enter at least two characters.
				</mat-error>
			</mat-form-field>
		</form>

		<mat-card-actions>
			<mat-button-toggle-group #sortGroup="matButtonToggleGroup" (change)="setSortValue(sortGroup.value)" value="total">
				<mat-button-toggle value="id">#</mat-button-toggle>
				<mat-button-toggle value="hp">HP</mat-button-toggle>
				<mat-button-toggle value="atk">ATK</mat-button-toggle>
				<mat-button-toggle value="rcv">RCV</mat-button-toggle>
				<mat-button-toggle value="total">Total</mat-button-toggle>
			</mat-button-toggle-group>
		</mat-card-actions>
	</mat-card>
</mat-grid-tile>

<!-- results section -->
<mat-grid-tile>
	<mat-card class="popover-card">
		<mat-card-content>
			<section id="mainSort">
			</section>
			<section id="monsterList">
				<div *ngIf="filteredList == undefined">
					<mat-spinner strokeWidth="5" diameter="60"></mat-spinner>
				</div>
				<mat-grid-list cols="5" rowHeight="1:1">
					<mat-grid-tile *ngFor="let mon of filteredList">
						<img src="{{mon.image60_href}}" width="60">
					</mat-grid-tile>
				</mat-grid-list>
			</section>
			<section id="secondarySort">

			</section>
		</mat-card-content>

		<mat-card-actions>
			<!-- attribute filter placeholder -->
			<!-- fire water wood light dark -->
			<mat-button-toggle-group>
				<mat-button-toggle><mat-icon>whatshot</mat-icon></mat-button-toggle>
				<mat-button-toggle><mat-icon>local_drink</mat-icon></mat-button-toggle>
				<mat-button-toggle><mat-icon>local_florist</mat-icon></mat-button-toggle>
				<mat-button-toggle><mat-icon>radio_button_unchecked</mat-icon></mat-button-toggle>
				<mat-button-toggle><mat-icon>radio_button_checked</mat-icon></mat-button-toggle>
			</mat-button-toggle-group>
		</mat-card-actions>
	</mat-card>
</mat-grid-tile>

<!-- filter section -->
<mat-grid-tile>
	<mat-card class="popover-card">
		<span>Awakenings: </span>
		<mat-chip-list>
			<mat-chip>
				<ng-container *ngFor="let awakening of currentAwakeningOptions; let index = index">
					<img src="/static/img/awakenings/{{awakening.id}}.png" width="32" (click)="removeAwakeningOption(index)">
				</ng-container>
			</mat-chip>
		</mat-chip-list>
		<mat-card-content>
			<mat-grid-list cols="10" rowHeight="1:1">
				<mat-grid-tile *ngFor="let awakening of allAwakeningOptions">
						<a mat-button href="#" (click)="addAwakeningOption(awakening)">
							<img src="/static/img/awakenings/{{awakening.id}}.png" width="32">
						</a>
				</mat-grid-tile>
			</mat-grid-list>
		</mat-card-content>
	</mat-card>
</mat-grid-tile>
</mat-grid-list>

</div>