<div class="container">
	<header>
		<h1>Choose Your Pad Team</h1>
		<div class="subtext">

		</div>
	</header>
	
	<section>
		<div id="team1" class="team">
			<div class="left">
				<h4>Team 1</h4>
				<div class="selectBtn">
					<button>Pick team</button>
				</div>
			</div>
			<div class="right">
				<ul class="team-list">
					<li>
						<img src="/assets/img/1746.png" />
						<div class="action">
							<a href="#"><span class="icon edit">Edit</span></a>
						</div>
					</li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
				</ul>
			</div>
		</div>

		<div id="team2" class="team">
			<div class="left">
				<h4>Team 2</h4>
				<div class="selectBtn">
					<button>Pick team</button>
				</div>
			</div>
			<div class="right">
				<ul class="team-list">
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
				</ul>
			</div>
		</div>

	</section>
</div>