<div class="container">
	<header>
		<h1>Choose Your Pad Team</h1>
		<div class="subtext">

		</div>
	</header>
		
	<section>
		<div *ngFor="let team of teams; let i = index;" id="team_{{i + 1}}" class="team">
			<div class="left">
				<h4>Team {{i + 1}}</h4>
				<div class="selectBtn">
					<button>Reset</button><!--if team filled?-->
				</div>
			</div>
			<div class="right">
				<div class="team-area">
					<ul class="team-list">
						<li *ngFor="let mon of team.slots; let slotNum = index" class="team-slot" id="slot_{{slotNum + 1}}">
							<div class="sub" id="sub_{{slotNum + 1}}">
								<div class="img">
									<img src="/static/img/monsters/60x60/1000.23034e2dd59f.png" />
									<div class="action-overlay">
										<a href="#" (click)="openDialog(i+1, 'sub', slotNum +1)"><span class="icon edit">Edit</span></a>
										<a href="#"><span class="icon remove">Remove</span></a>
									</div>
								</div>
							</div>
							<div class="assist" id="assist_{{slotNum + 1}}">
								<div class="img">
									<img src="/static/img/monsters/60x60/1014.a09843c83c77.png" />
									<div class="action-overlay">
										<a href="#" (click)="openDialog(i+1, 'assist', slotNum+1)"><span class="icon edit">Edit</span></a>
										<a href="#"><span class="icon remove">Remove</span></a>
									</div>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</section>
</div>