<div class="container">
	<header>
		<h1>Choose Your Pad Team</h1>
		<div class="subtext">

		</div>
	</header>
	
	<section>
		<div id="team1" class="team">
			
			<div class="left">
				<h4>Team 1</h4>
				<div class="selectBtn">
					<button>Reset</button><!--if team filled?-->
				</div>
			</div>
			<div class="right">
				<div class="team-area">
					<ul class="team-list">
						<li class="team-slot">
							<div class="sub">
								<div class="img">
									<img src="/assets/img/mon/3535.png" />
									<div class="action-overlay">
										<a href="#"><span class="icon edit">Edit</span></a>
										<a href="#"><span class="icon remove">Remove</span></a>
									</div>
								</div>
							</div>
							<div class="assist">
								<div class="img">
									<img src="/assets/img/mon/1746.png" />
									<div class="action-overlay">
										<a href="#"><span class="icon edit">Edit</span></a>
									</div>
								</div>
							</div>
						</li>
						<li class="team-slot">
							<div class="sub">
								<div class="img">
									<img src="/assets/img/mon/2102.png" />
									<div class="action-overlay">
										<a href="#"><span class="icon edit">Edit</span></a>
									</div>
								</div>
							</div>
							<div class="assist">
								<div class="img">
									<img src="/assets/img/mon/2012.png" />
									<div class="action-overlay">
										<a href="#"><span class="icon edit">Edit</span></a>
									</div>
								</div>
							</div>
						</li>
						<li class="team-slot">
							<div class="sub">
								<div class="img">
									<img src="/assets/img/mon/3521.png" />
									<div class="action-overlay">
										<a href="#"><span class="icon edit">Edit</span></a>
									</div>
								</div>
							</div>
							<div class="assist">
								<div class="img">
									<img src="/assets/img/mon/1619.png" />
									<div class="action-overlay">
										<a href="#"><span class="icon edit">Edit</span></a>
									</div>
								</div>
							</div>
						</li>
						<li class="team-slot">
							<div class="sub">
								<div class="img">
									<img src="/assets/img/mon/2948.png" />
									<div class="action-overlay">
										<a href="#"><span class="icon edit">Edit</span></a>
									</div>
								</div>
							</div>
							<div class="assist">
								<div class="img">
									<img src="/assets/img/mon/0.png" />
									<div class="action-overlay">
										<a href="#"><span class="icon edit">Edit</span></a>
									</div>
								</div>
							</div>
						</li>
						<li class="team-slot">
							<div class="sub">
								<div class="img">
									<img src="/assets/img/mon/2948.png" />
									<div class="action-overlay">
										<a href="#"><span class="icon edit">Edit</span></a>
									</div>
								</div>
							</div>
							<div class="assist">
								<div class="img">
									<img src="/assets/img/mon/0.png" />
									<div class="action-overlay">
										<a href="#"><span class="icon edit">Edit</span></a>
									</div>
								</div>
							</div>
						</li>
						<li class="team-slot">
							<div class="sub">
								<div class="img">
									<img src="/assets/img/mon/3535.png" />
									<div class="action-overlay">
										<a href="#"><span class="icon edit">Edit</span></a>
									</div>
								</div>
							</div>
							<div class="assist">
								<div class="img">
									<img src="/assets/img/mon/0.png" />
									<div class="action-overlay">
										<a href="#"><span class="icon edit">Edit</span></a>
									</div>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>

		<div id="team2" class="team">
			<div class="left">
				<h4>Team 2</h4>
				<div class="selectBtn">
					<button>Pick team</button>
				</div>
			</div>
			<div class="right">
				<ul class="team-list">
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
				</ul>
			</div>
		</div>

	</section>
</div>